
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Shop List</span>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Lọc theo giá</span></h5>
            <div class="bg-light p-4 mb-30">
                <form method="post" action="">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="priceAll" value="true" class="custom-control-input" checked id="price-all">
                        <label class="custom-control-label" for="price-all">Tất cả</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price1" value="true" class="custom-control-input" id="price-1">
                        <label class="custom-control-label" for="price-1">0 - 100.000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price2" value="true" class="custom-control-input" id="price-2">
                        <label class="custom-control-label" for="price-2">100.000 - 200.000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price3" value="true" class="custom-control-input" id="price-3">
                        <label class="custom-control-label" for="price-3">200.000 - 500.000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="price4" value="true" class="custom-control-input" id="price-4">
                        <label class="custom-control-label" for="price-4">Trên 500.000</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <button type="submit" class="btn btn-primary">Lọc</button>
                    </div>
                </form>
            </div>
            <!-- Price End -->
            <!-- Color Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Lọc theo tướng</span></h5>
            <div class="bg-light p-4 mb-30">
                <form method="post" action="">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="tuongAll" value="true" class="custom-control-input" checked id="color-all">
                        <label class="custom-control-label" for="color-all">Tất cả</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="tuong1" value="true" class="custom-control-input" id="color-2">
                        <label class="custom-control-label" for="color-2">0-100</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="tuong2" value="true" class="custom-control-input" id="color-2">
                        <label class="custom-control-label" for="color-2">100-300</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="tuong3" value="true" class="custom-control-input" id="color-3">
                        <label class="custom-control-label" for="color-3">300-600</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" name="tuong4" value="true" class="custom-control-input" id="color-4">
                        <label class="custom-control-label" for="color-4">Trên 600</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <button type="submit" class="btn btn-primary">Lọc</button>
                    </div>
                </form>
            </div>
            <!-- Color End -->
            <!-- Size Start -->
            <!-- Size End -->
        </div>
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">

                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sắp xếp</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item">Tăng dần</a>
                                    <a class="dropdown-item" href="#">Giảm dần</a>
                                </div>
                            </div>

                        </div>
                        <div class="ml-2">
                            <form method="get" action="#">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="s" name="s" placeholder="Tìm kiếm theo rank">
                                    <input type="hidden" name="uid" value="">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden">
                                <p>Shop không tồn tại hoặc ngưng bán</p>
                            </div>
                        </div>
                    </div>
                
</div>
            </div>
        </div>
    </div>

