
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}

<!-- Nội dung của trang Index ở đây -->
<h1>Chào mừng đến với trang quản trị!</h1>
<p>Đây là nội dung trang chủ của bạn.</p>


